run = "npm run dev"
entrypoint = "pages/index.js"

[nix]
channel = "stable-22_11"

[env]
PATH = "/home/runner/$REPL_SLUG/.config/npm/node_global/bin:/home/runner/$REPL_SLUG/node_modules/.bin"
npm_config_prefix = "/home/runner/$REPL_SLUG/.config/npm/node_global"

[packager]
language = "nodejs"

[packager.features]
packageSearch = true
guessImports = true

[languages.javascript]
pattern = "**/{*.js,*.jsx,*.ts,*.tsx}"
syntax = "javascript"

[[ports]]
localPort = 3000
externalPort = 80

[[ports]]
localPort = 34227
externalPort = 3001

[[ports]]
localPort = 44953
externalPort = 3000
[nodejs]
version = "18.x"
