
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap'); /* Temporary substitute for Robbert PRO */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap'); /* Temporary substitute for ES Klarheit */

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-brand-green: #00FFC2;
  --color-brand-yellow: #CDFF64;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Inter', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Roboto', sans-serif;
}

.gradient-brand {
  background: linear-gradient(135deg, var(--color-brand-green), var(--color-brand-yellow));
}
